{% extends "base.html" %}

{% block title %}方辰托管每日签到{% endblock %}

{% block content %}
   <div id="app">
    <el-form :model="form" ref="formRef" :rules="rules">
        <el-form-item>
            <div class="centered-title">
                <el-row>
                    <el-col :span="24">
                        <h1>方辰托管每日签到</h1>
                    </el-col>
                </el-row>
            </div>
        </el-form-item>
       <el-form-item label="班级" prop="classId.value">
            <el-select v-model="form.classId.value" placeholder="请选择班级" @change="handleClassChange">
                <el-option
                        v-for="item in classes"
                        :key="item.classId"
                        :label="item.className"
                        :value="item.classId">
                </el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="日期" prop="time22.value">
            <el-date-picker v-model="form.time22.value" type="date" placeholder="选择日期"
                            value-format="yyyy-MM-dd"></el-date-picker>
        </el-form-item>

        <el-form-item>
            <el-table :data="form.students" style="width: 100%">
                <el-table-column prop="index" label="序号" type="index"
                                 :index="indexMethod"></el-table-column>
                <el-table-column prop="name" label="学生姓名"></el-table-column>
                <el-table-column prop="keshiyue" label="剩余课时"></el-table-column>
                <el-table-column prop="canfeiyue" label="餐费剩余"></el-table-column>
                <el-table-column label="签到时段">
                    <template slot-scope="scope">
                        <el-checkbox-group v-model="scope.row.checkedTimes">
                            <el-checkbox label="上午"></el-checkbox>
                            <el-checkbox label="下午"></el-checkbox>
                            <el-checkbox label="午餐"></el-checkbox>
                        </el-checkbox-group>
                    </template>
                </el-table-column>
                <el-table-column label="备注">
                    <template slot-scope="scope">

                        <el-input
                                type="textarea"
                                :rows="2"
                                placeholder="请输入内容"
                                v-model="scope.row.beizhu">
                        </el-input>

                    </template>
                </el-table-column>

            </el-table>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" @click="onSubmit" :disabled="isDisabled">一键提交</el-button>
        </el-form-item>
    </el-form>


</div>
{% endblock %}

{% block footer %}
   <script>
    new Vue({
        el: '#app',
        data() {
            return {
                form: {
                    classId: {"value": ''},
                    time22: {"value": ''},
                    description: {"value": ''},
                    mark: '',
                    students: [
                        // 示例数据，实际应用中应根据选择的班级和日期从后端获取
                    ],
                },

                classes: '',
                isDisabled: false,
                rules: {
                    'classId.value': [
                        {required: true, message: '请选择班级', trigger: 'change'}
                    ],
                    'time22.value': [
                        {required: true, message: '请选择日期', trigger: 'change'}
                    ]
                }
            }
        },
        methods: {
            indexMethod(index) {
                return index + 1;
            },
            onSubmit() {
                this.isDisabled = true;
                this.$refs.formRef.validate((valid) => {
                    if (valid) {
                        console.log(valid)
                        this.form.description.value = -1
                        axios.post('{% url "send_qiandao" %}', this.form)
                            .then(response => {
                                alert('提交成功');
                                this.onSubmit2()
                                this.form.students = ""
                            })
                            .catch(error => {
                                alert('提交失败');
                                console.error(error);
                            });
                    }
                })
            },
            onSubmit2() {
                // 发送数据到后端
                this.form.mark = 'qiandao'
                this.$refs.formRef.validate((valid) => {
                    if (valid) {

                        this.form.description.value = -1
                        axios.post('{% url "send_template_message" %}', this.form)
                            .then(response => {
                                alert('提交成功');
                                console.log(response.data);
                            })
                            .catch(error => {
                                alert('提交失败');
                                console.error(error);
                            });
                    }
                })
            },
            handleClassChange(value) {
                // 模拟根据班级筛选学生
                for (let i = 0; i < this.classes.length; i++) {
                    // 检查当前班级的classId是否与传入的classId匹配
                    if (this.classes[i].classId === value) {
                        // 如果匹配，返回当前班级的学生列表
                        this.form.students = this.classes[i].students;
                        break;

                    } else {
                    }
                }
                console.log(this.form.students)

            },
            fetchData() {
                axios.get('{% url "get_c_s" %}')
                    .then(response => {
                        this.classes = response.data.classes;
                    })
                    .catch(error => {
                        console.error('Error fetching data:', error);
                    });
            }
        },
        mounted() {
            this.fetchData();
            this.handleClassChange(this.form.classId.value);

        },
        watch: {
            // 可以在这里添加对 selectedClass 或 selectedDate 的监听，以重新获取数据
        }
    });
</script>
{%   endblock %}



